@import "tailwindcss";

/* Tailwind v4 覆寫 Dark Mode 策略 
  這行語法告訴 Tailwind：「嘿，不要看系統設定了，只要看有沒有 .dark 這個 class」
  在 v4 中，預設的 dark: 是綁定 系統偏好 (System Preference) 的。當你的電腦設定為深色模式，網頁就會變黑，不管你有沒有加 class。我們需要「強制」覆寫這個行為。
*/
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* 如果你有自定義的 theme 變數可以放這裡 */
  --font-sans: var(--font-custom), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
    scrollbar-gutter: stable;
    overscroll-behavior: none;
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Edge */
}
/* 1. 預設狀態 (Light Mode) */
body {
  font-family: var(--font-custom), ui-sans-serif, system-ui, sans-serif;

  background-color: transparent; /* 讓背景圖透出來 */
  @apply text-gray-900 transition-colors duration-300;
}

/* 2. 強制深色模式 (Dark Mode) */
/* 使用 :global(.dark) 或是直接 .dark body 確保權重 */
:root.dark body {
  background-color: transparent; /* 確保這裡也是透明 */
  @apply text-gray-100; /* 強制文字變白 */
}


/* .perspective-container {
  perspective: 1000px;
} */

